.spectre-auto-complete-container .menu {
  max-height: 15rem;
  overflow-y: auto;
  display: none;
}
.spectre-auto-complete-container .menu .menu-item {
  font-size: 15px;
}
.spectre-auto-complete-container .menu .menu-item.hover {
  background-color: #f1f1fc;
  color: #5755d9;
}
.spectre-auto-complete-container .menu .menu-item.not-found {
  color: rgb(119, 119, 119);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
